.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    background-color: #fff;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
}

#sidebar.active {
    margin-left: -280px;
}

#sidebar ul p {
    color: #212121;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #212121;
    font-size: 18px;
}

#sidebar ul li a:hover {
    color: #16181b;
    text-decoration: none;
    background: #f8f9fa;
}

#content {
    width: 100%;
}

.headerImage {
    width: 120px;
}

.content-bg {
    background-color: #f5f5f5;
    height: 92%;
}

.sidebar-header {
    background-image: url(https://www.setaswall.com/wp-content/uploads/2017/04/Material-Wallpaper-30-1600x900.jpg);
    position: relative;
    height: 157.5px;
    margin-bottom: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-cover {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-bar {
    height: 25px;
    background: rgba(0, 0, 0, 0.1);
}

.sidebar-image img {
    width: 60px;
    height: 60px;
    margin: 16px;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1.5px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .15), 0 1.5px 3px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle::after {
    align-items: flex-end;
}

.userName {
    padding: 20px;
}

.img-profile {
    height: 2.5rem;
    width: 2.5rem;
}

i {
    margin-right: 10px;
    font-size: 24px;
}