<div class="wrapper">
    <!-- Sidebar Holder -->


    <nav id="sidebar" class="navbar-dark sykesNavbar sticky-top shadow" [ngClass]="status ? '' : 'active'"
        *ngIf="afAuth.user | async as userProfile">
        <div class="sidebar-header header-cover">
          
            <div class="top-bar">
            </div>

            <div class="sidebar-image">
                <img [src]="userProfile.photoURL" alt="" *ngIf="userProfile.photoURL">
                <img [src]="" alt="" *ngIf="!userProfile.photoURL">

            </div>
            <div class="dropdown">
                <a class="dropdown-toggle userName" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{ userProfile.displayName}}
                </a>

                <div class="dropdown-menu dropdown-toggle-split" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" routerLink="profile/:id">View Profile</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a routerLink="/communications">
                    <i class="fa fa-clipboard"></i>
                    <span class="align-middle">Tickets</span>
                </a>
            </li>
        </ul>

    </nav>


    <div class="" id="content">
        <nav class="sticky-top navbar navbar-expand navbar-light bg-white topbar shadow mb-4"
            *ngIf="afAuth.user | async as userProfile">
            <a type="button" id="sidebarCollapse" class="btn" (click)="sidebarToggle()">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{userProfile.displayName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="profile/:id">View Profile</a>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </li>
                <img [src]="userProfile.photoURL" alt="" class="img-profile rounded-circle">
            </ul>
        </nav>
        <div class="container-fluid content-bg">
      
            <router-outlet></router-outlet>
        </div>


    </div>

</div>