[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Alejandrogarciago
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alejandrogarciago
	label-Verified = -1..+1 group user/Alejandrogarciago
	push = group user/Alejandrogarciago
	read = group user/Alejandrogarciago
	rebase = group user/Alejandrogarciago
	removeReviewer = group user/Alejandrogarciago
	submit = group user/Alejandrogarciago
[access "refs/heads/*"]
	create = group user/Alejandrogarciago
	push = +force group user/Alejandrogarciago
	pushMerge = group user/Alejandrogarciago
	read = group user/Alejandrogarciago
[access "refs/tags/*"]
	push = group user/Alejandrogarciago
	push = +force group user/Alejandrogarciago
